

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteHub - Create, organize, and manage notes with ease</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="landing-container">
        <div class="image-container">
            <img src="/img/main.png" alt="Notepad illustration">
        </div>
        <div class="landing-content">
            <h1 class="name">NoteHub</h1>
            <hr>
            <p class="name-text" >Create, organize, and manage notes with ease</p>
            <hr>
            <div class="landing-buttons">
                <form action="/signup" method="get">
                    <button class="landing-btn" id="get-started" type="submit">Get started</button>
                </form>
                <form action="/login" method="get">
                    <button class="landing-btn" id="sign-in" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>